[Unit]
Description=Send IP to Slack on Boot
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/wookingwoo/ip-on-boot/send_ip_to_slack.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
